.joinNow {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #19345e;
  background-color: #f4faff;
  text-align: center;
  height: 48px;
  padding: 4px;
}
.joinNow a {
  font-weight: bold;
  color: #ec1c24;
}

.container section.joinNow {
  margin-bottom: 0;
}


@media screen and (min-width: 768px) {
  .joinNow {
    line-height: 48px;
    height: 48px;
    font-size: 16px;
  }
  .joinNow .br {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .joinNow {
    line-height: 62px;
    height: 62px;
    font-size: 21px;
  }
}
