.raceChartImgWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 19px 0;
}
.raceChartImgWrap img{
  width: 213px;
}
.raceChart .videoWrap{
  margin: 16px 0;
}

@media screen and (min-width: 768px){
  .raceChartImgWrap{
    margin: 0;
  }
  .raceChartImgWrap img{
    width: 83%;
    margin: 40px 0;
  }
  .raceChartVideoListWrap{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .raceChartVideoListWrap .videoWrap{
    width: 40%;
  }
  .raceChartVideoListWrap .listWrap{
    width: 60%;
    margin-left: 120px;
  }
}
